[submodule "submodules/antlr3"]
	path = submodules/antlr3
	url = git://git.linphone.org/antlr3.git
[submodule "submodules/belle-sip"]
	path = submodules/belle-sip
	url = git://git.linphone.org/belle-sip.git
[submodule "submodules/gsm"]
	path = submodules/gsm
	url = git://git.linphone.org/gsm.git
[submodule "submodules/speex"]
	path = submodules/speex
	url = git://git.linphone.org/speex.git
[submodule "submodules/linphone"]
	path = submodules/linphone
	url = git://git.linphone.org/linphone.git
[submodule "submodules/cunit"]
	path = submodules/cunit
	url = git://git.linphone.org/cunit.git
[submodule "submodules/mswasapi"]
	path = submodules/mswasapi
	url = git://git.linphone.org/mswasapi.git
[submodule "submodules/libilbc-rfc3951"]
	path = submodules/libilbc-rfc3951
	url = git://git.linphone.org/libilbc-rfc3951.git
[submodule "submodules/msilbc"]
	path = submodules/msilbc
	url = git://git.linphone.org/msilbc.git
[submodule "submodules/mssilk"]
	path = submodules/mssilk
	url = git://git.linphone.org/mssilk.git
[submodule "submodules/polarssl"]
	path = submodules/polarssl
	url = git://git.linphone.org/polarssl.git
[submodule "submodules/opencore-amr"]
	path = submodules/opencore-amr
	url = git://git.code.sf.net/p/opencore-amr/code
[submodule "submodules/vo-amrwbenc"]
	path = submodules/vo-amrwbenc
	url = git://git.code.sf.net/p/opencore-amr/vo-amrwbenc
[submodule "submodules/msamr"]
	path = submodules/msamr
	url = git://git.linphone.org/msamr.git
[submodule "submodules/libxml2"]
	path = submodules/libxml2
	url = git://git.gnome.org/libxml2
[submodule "submodules/bcg729"]
	path = submodules/bcg729
	url = git://git.linphone.org/bcg729.git
[submodule "submodules/srtp"]
	path = submodules/srtp
	url = git://git.linphone.org/srtp.git
[submodule "submodules/mswebrtc"]
	path = submodules/mswebrtc
	url = git://git.linphone.org/mswebrtc.git
[submodule "submodules/opus"]
	path = submodules/opus
	url = git://git.linphone.org/opus.git
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = git://git.linphone.org/zlib.git
[submodule "submodules/libvpx"]
	path = submodules/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "submodules/bzrtp"]
	path = submodules/bzrtp
	url = git://git.linphone.org/bzrtp.git
[submodule "submodules/mswinrtvid"]
	path = submodules/mswinrtvid
	url = git://git.linphone.org/mswinrtvid.git
[submodule "submodules/msopenh264"]
	path = submodules/msopenh264
	url = git://git.linphone.org/msopenh264.git
[submodule "submodules/openh264"]
	path = submodules/openh264
	url = git://github.com/cisco/openh264.git
