[submodule "submodules/linphone"]
	path = submodules/linphone
	url = https://gitlab.linphone.org/BC/public/linphone.git
[submodule "submodules/mswinrtvid"]
	path = submodules/mswinrtvid
	url = https://gitlab.linphone.org/BC/public/mswinrtvid.git
[submodule "submodules/mediastreamer2"]
	path = submodules/mediastreamer2
	url = https://gitlab.linphone.org/BC/public/mediastreamer2.git