*/Bin/
*/obj/
*/Thumbs.db
*/*/Thumbs.db
*/*/*/Thumbs.db
*/ARM/
*/x86/
CoreProxyStub/Linphone.Core*
CoreProxyStub/Mediastreamer2.WP8Video*
CoreProxyStub/dlldata.c
ARM/
Linphone.sdf
Linphone.opensdf
Agents/RegistrationHelper.cs
