*/Bin/
*/obj/
*/Thumbs.db
*/*/Thumbs.db
*/*/*/Thumbs.db
*/ARM/
.vs/
ARM/
Win32/
x64/
x86/
Debug/
Release/
CoreProxyStub/Linphone.Core*
CoreProxyStub/Mediastreamer2.WP8Video*
CoreProxyStub/dlldata.c
Linphone.sdf
Linphone.opensdf
Agents/RegistrationHelper.cs
Linphone/Linphone.csproj.user
*.vcxproj.filters
*.sdf
