<?xml version="1.0" encoding="utf-8"?>

<!-- ITNOA -->

<configuration>
	<appSettings>
		<!-- SIP Account settings-->
		<add key="Username" value="default"/>
		<add key="UserId" value=""/>
		<add key="Password" value=""/>
		<add key="Domain" value=""/>
		<add key="Transport" value="UDP"/>
	</appSettings>
</configuration>